
{% extends "shop/base.html" %}


    {% block title %}
        Home
    {% endblock title %}

     {% block main %}
                        <h1>Home</h1>
                        
                        <ol>
                    
                        {% for prod in products  %}
                            <li>
                                <h2>{{prod.name}}</h2>
                                <p>{{prod.description}}</p>
                                
                                <p>Pret: <b> {{prod.price}} lei </b></p>

                                {% if prod.image %}
                                    <img src="{{prod.image.url}}" alt="">
                                {% else %}
                                        <p>Imaginea nu exista</p>
                                {% endif %}

                                
                                <form action="{% url 'add_to_cart_url' prod.slug %}" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input type="submit" value="Add to Cart">
                                </form>

                            </li>
                        {% endfor %}

                        </ol>

    
    {% endblock main %}