<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
</head>
<body>


    <header>
        <nav>
            
            <a href="{% url 'home_url'  %}">Home</a>
            <a href="">Contact</a>
            
            <a href="{% url 'cart_url'  %}" >Cart</a>
        </nav>
    </header>


    <h1>cart</h1>
    <ol>
        {% for prod, quantity in  produse.items %}
            <li> {{prod}} - {{quantity}}</li>
        {% endfor %}
       
    </ol>
</body>
</html>