<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    
    {% endblock title %}
 
    </title>

       <style>
        nav a{
            position: relative;
        }
        #cartcount {
            position: absolute;
            color:white;
            top: -10px;
            right: -10px;
            aspect-ratio: 1/1;
            width: 20px;
            display:flex;
            align-items:center;
            justify-content: center;
            background-color: red;
            border-radius: 50%;
        }
    </style>
</head>
<body>

    <header>
        <nav>
            
            <a href="{% url 'home_url'  %}">Home</a>
            <a href="{% url 'categories_url'  %}">Categories</a>

            <a href="">Contact</a>
            
            <a href="{% url 'cart_url'  %}" >
            
            
            Cart 
            {% if cart.products %}

                <div id="cartcount">
                       {{ cart.number_of_products }}
                </div>
             
            {% endif %}
            
            </a>
        </nav>
    </header>

    {% block main %}
    
    {% endblock main %}



</body>
</html>